/* ====================
  Base
  ===================== */

body {
  background: white;
  font-family: "Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
