/* ====================
  Module/Grid
  ===================== */

.grid {
  justify-content: center;
  margin-bottom: 20px;

  &:after {
    display: block;
    content: '';
    background: #f6f6f6;
    padding-bottom: 260px;
  }
}
