/* ====================
  Module/Welcome
  ===================== */

.welcome {
  padding: 50px 0;
  text-align: center;

  h3 { font-weight: 100; font-size: 48px; }
  p { font-size: 24px; font-weight: 300; color: #777; }
  a { color: inherit; }

  svg {
    max-width: 100px;
    fill: orange;
  }
}
