<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Kickup Boilerplate</title>
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  <section class="sample">
    <div class="grid">
      <div class="col-12">
        <svg viewBox="0 0 100 100" class="logo"><use xlink:href="#logo"></use></svg>
        <h1>Welcome to the Boilerplate!</h3>
      <p>If you like this please
        <a class="link" href="http://twitter.com/iDuuck" target="_blank">Follow me on Twitter</a>
         or on
         <a class="link" href="http://github.com/iDuuck" target="_blank">GitHub</a>!</p>
       </div>
     </div>
  </section>
  <div style="height: 0; width: 0; position: fixed; visibility: hidden">
    <%- include partials/sprites.ejs %>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="bundle.min.js"></script>
</body>
</html>
